*,
body {
	margin: 0;
	padding: 0;
	border: 0;
	/* font: inherit;
    font-size: 100%; */
	vertical-align: baseline;
	list-style-type: none;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}
:root {
	--background-color-main: #f8f2f6;
	--color-text: #1c1b1d;
	--color-nav-items-hover: #4d4256;
	--font-weight-semi-bold: 495;
}
main {
	padding-left: 88px;
	margin-bottom: 20px;
}
/* @font-face {
    font-family: GoogleSansText;
    src: url('../fonts/GoogleSansText-Medium.eot');
    src: url('../fonts/GoogleSansText-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GoogleSansText-Medium.woff2') format('woff2'),
        url('../fonts/GoogleSansText-Medium.woff') format('woff'),
        url('../fonts/GoogleSansText-Medium.ttf') format('truetype'),
        url('../fonts/GoogleSansText-Medium.svg#GoogleSansText-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
} */
@font-face {
	font-family: 'Google Symbols';
	font-style: normal;
	font-weight: 300 600;
	font-display: block;
	src: url(https://fonts.gstatic.com/s/googlesymbols/v265/HhyqU5Ak9u-oMExPeInvcuEmPosC9zS3FYkFU68cPrjdKM1XMoDZlWmzc3IiWvF1SbxVhQidBnv_C-yl9mm4Tw.woff2)
		format('woff2');
}

/* /////////// header ///////// */
header {
	/* background-color: #f2ecee; */
	font-family: Arial, Helvetica, sans-serif;
}
.mobile_nav {
	display: none !important;
}
nav {
	display: flex;
	position: fixed;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	overflow-y: auto;
	z-index: 8;
	font-size: 12px;
	background-color: #f2ecee;
	text-align: center;
	padding: 10px;
}
/* header div {
	display: none;
} */
.search {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 56px;
	height: 56px;
	border-radius: 16px;
	color: var(--color-nav-items-hover);
	background-color: #f1d3f9;
	padding: 27px;
}
.search:hover {
	color: #271430;
}
.google-symbols {
	font-family: 'Google Symbols';
	font-size: 24px;
	line-height: 1;
	display: block;
}
nav ul li {
	padding: 15px 0px 5px 0px;
}
nav .nav-link {
	padding: 0;
}
nav .nav-item a > :not(.first-child) {
	color: var(--color-nav-items-hover);
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
	width: 56px;
	height: 32px;
	margin-right: auto;
	margin-bottom: 4px;
	margin-left: auto;
	border-radius: 20px;
}
nav .nav-link:hover :not(first-child):not(last-child) {
	background-color: #e5dde1;
	color: #1c1b1d;
	border-radius: 20px;
}
.material-symbols-outlined {
	font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
.active {
	color: #21182b;
	/* background-color: #D1CEE8; */
}
nav .nav-link:last-child {
	border: #1c1b1d;
	border-radius: 50%;
}
.offcanvas{
	background-color: #F2ECEE;
}
.mobile_nav_div{
	width: 60%;
	text-align: center;
	margin-top: 20px;
}
/* ////////// section №1 ////////// */
#sec1 {
	width: 50%;
	padding: 40px 65px 85px 40px;
	background-color: #f8f2f6;
	border-radius: 30px;
}
#sec1 div {
	padding: 80px 180px 65px 50px;
	background-color: var(--background-color-main);
	border-radius: 24px;
}
#sec1 h1 {
	color: var(--color-text);
	font-size: 96px;
	font-weight: var(--font-weight-semi-bold);
	line-height: 64px;
	/* margin-bottom: 26px; */
	line-height: 100px;
}
#sec1 p {
	line-height: 32px;
	font-size: 22px;
}
.none{
	display: none;
}
#sec1 .btn {
	height: 78px;
	width: 225px;
	color: #ffffff;
	font-weight: 400;
	font-size: 24px;
	background-color: #6442d6;
	/* transition: border-radius .2s cubic-bezier(.2,0,0,1);
    transition: opacity .2s cubic-bezier(.2,0,0,1); */
	border-radius: 48px;
	border: none;
}
.btn:hover {
	background-color: #7151d9;
}
h2 {
	font-size: 45px;
	font-weight: var(--font-weight-semi-bold);
	line-height: 52px;
	padding: 65px 0 20px 0;
	/* margin-left: 80px; */
}
/*////////// section2 ///////// */
#sec2 {
	width: 50%;
	position: relative;
	border-radius: 30px;
	overflow: auto;
}
#vid {
	/* position: absolute; */
	height: 100%;
	width: 100%;

	object-fit: cover;
}
#sec2 #btn {
	display: flex;
	position: absolute;
	bottom: 5px;
	right: 0;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	margin: 4px;
	transition-duration: 0.2s;
	transition-property: transform;
	transition-timing-function: linear;
	border: 1px solid #3c4043;
	border-radius: 50%;
	background-color: transparent;
	color: #3c4043;
	line-height: 40px;
	cursor: pointer;
	z-index: 2;
}
/*////////// section3 ///////// */
.pics {
	width: 430px;
	margin: 5px;
	height: auto;
	border-radius: 24px;
	background-color: var(--background-color-main);
	overflow: auto;
	/* background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    overflow: hidden;
    z-index: 1; */
}
.pics div {
	padding: 30px;
}
.pics :hover{
	background-color: #DCDAF5;
	transition: 0.5s;
}
.pics2 {
	max-width: 395px;
	margin: 5px;
	border-radius: 24px;
	background-color: var(--background-color-main);
	overflow: auto;
	padding: 12px;
	margin-bottom: 5px;
}
.pics2:hover{
	background-color: #DCDAF5;
	transition: 0.5s;
}
/* 
ul{
    list-style: disc outside none;
    list-style: initial;
} */

h3 {
	font-size: 28px;
	font-weight: var(--font-weight-semi-bold);
	line-height: 44px;
	margin: 16px 0;
}

/* ////section №4//// */
#sec3 div,
#sec4 div {
	margin-bottom: 5px;
}
/* ////section №5//// */
#sec5 {
	margin-bottom: 50px;
}
#sec5 .pics {
	padding: 15px;
}

/* ///// footer ////// */

footer p {
	max-width: 300px;
}
footer ul li {
	margin-bottom: 15px;
}
footer a {
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	padding: 1px;
	border-radius: 4px;
	text-decoration: underline;
	color: rgb(100, 66, 214);
}
.footer_bottom {
	margin-left: 150px;
}
.footer_bottom li {
	margin-left: 50px;
}
/* media/////////////////// */

@media screen and (max-width: 1294px) {
	h1 {
		font-size: 45px;
		font-weight: var(--font-weight-semi-bold);
		line-height: 52px;
	}
	#sec1,
	#sec2 {
		width: 100%;
		height: auto;
	}
	h2 {
		font-size: 36px;
		font-weight: var(--font-weight-semi-bold);
		line-height: 44px;
		text-align: center;
		margin-left: 0;
	}
	h3 {
		/* font-size: 32px; */
		font-weight: var(--font-weight-semi-bold);
		line-height: 40px;
	}
	#sec3 .d-flex, #sec4 .d-flex, #sec5 .d-flex{
		flex-wrap: wrap;
	}
	.pics {
		flex-basis: 530px;
	}
	a {
		font-size: 16px;
		font-weight: 500;
		line-height: 24px;
	}
	footer div {
		flex-wrap: wrap;
	}
}


@media (max-width: 1200px){
	#sec3 .d-flex{
		justify-content: center;
	}
	#sec4 .d-flex{
		justify-content: center;
	}
}
@media (max-width: 982px) {
	.footer_bottom {
		margin-left: 0;
	}
}
@media screen and (max-width: 600px) {
	nav{
		display: none;
	}
	.mobile_nav{
		display: block !important;
	}
	main {
		padding: 10px;
	}
	#sec1 h1 {
		font-size: 36px;
		font-weight: var(--font-weight-semi-bold);
		line-height: 44px;
	}
	#sec1 div {
		padding: 35px 20px 50px 40px;
	}
	#sec1 p {
		line-height: 25px;
		font-size: 16px;
	}
	
	a {
		font-size: 16px;
		font-weight: 500;
		line-height: 24px;
	}
	h2 {
		font-size: 32px;
		font-weight: var(--font-weight-semi-bold);
		line-height: 40px;
	}
	h3 {
		font-size: 24px;
		font-weight: var(--font-weight-semi-bold);
		line-height: 36px;
	}
	.pics2 {
		max-width: 100%;
		width: 100%;
	}
	footer div {
		flex-wrap: wrap;
	}
}
